{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
<body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block prev %}
{% endblock %}
{% block close %}
{% endblock %}

{% block page_content %}
    <div class="content-detail">
        <div class="row rowList">
        	<div class="list_header">
       			<a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i> Mes commandes</a>
       		</div>
       		<div class="list_container">
       		{% for commande in commandes %}
	        <a href="{{ path_for("app.commande.detail",{"id":commande.id}) }}" class="item itemCommande">
                <div class="col-xs-10">
                    <b>N°{{ commande.numeroCommande }}</b>
                    <span class="date">Le {{ (commande.dateCommande/1000)|round(0)|date("d/m/Y") }}</span>
                    <span class="infos">1 professionnel - {{commande.quantiteTotal}} produit{{commande.quantiteTotal > 1 ? 's' : ''}}</span>
                </div>
                <div class="col-xs-2 price">
                    {{ commande.total }}€
                </div>
	        </a>
	    	{% endfor %}
	    	</div>
	    </div>
	</div>
{% endblock %}