{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
<body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block page_content %}
<div class="content-detail">
    <div class="row rowHeader">
    	
    </div>
    <div class="row rowInfos">
        <div class="rowIcons">
	        <div class="avatar">
	            <div style="background-image:url({{ apiImagePath(user.logo) }});"></div>
	        </div>
	    </div>
        <div class="col-xs-12">
        	<div class="row">
	        	<div class="col-xs-12 col-sm-7">
		            <h1 class="title">{{ user.firstName ~ " " ~ user.lastName }}</h1>
	    	        <p>
	        	        {{user.entiteFavoris|length}} favori{{user.entiteFavoris|length > 1 ? 's' : ''}} - 2 Commandes - 4 Amis
	            	</p>
	            </div>
	        </div>
        </div>
    </div>
    {% if morceaux|length %}
    <div class="row rowBar">
        <div class="icon">
        	<i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="text text-toggle">
        	<b>Morceau favoris</b>
        	<span>{{morceaux|length}} morceau{{morceaux|length > 1 ? 's' : ''}}</span>
        </div>
        <div class="toggle" data-toggle="userInfos">
        	<i class="fa fa-chevron-up" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row rowList">
		{% set i = 0 %}
		{% for morceauRec in morceaux %}
		<div class="col-xs-6 morceau col{{ i % 2}}">
            <a class="" href="{{ path_for("flash.categorie",{"categ":morceauRec.typeViande,"id":morceauRec.id}) }}" data-color="#ffffff">
                <div>
                	<img src="{{ morceauRec.photoPath }}" alt="..." />
                </div>
                <div>
                    <h3>{{ morceauRec.nom }}</h3>
                </div>
            </a>
        </div>
        {% set i = i + 1 %}
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}