{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
    <body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block page_content %}
<div class="content-detail">
	<div class="row rowHeader rowHeaderCuisson">
    	<img src="{{ cuisson.photoPath }}" alt="{{ cuisson.nom }}" style="margin-top:-10%;">
    </div>

	<div class="row rowInfos">
        <div class="col-xs-12">
        	<div class="row">
	        	<div class="col-xs-12 col-sm-9">
		            <h1 class="title">{{ cuisson.nom|capitalize }}</h1>
	    	        <p class="subtitle">Cuisson</p>
	            </div>
	            <div class="col-xs-12 col-sm-3">
	            	<a href="#" class="button button-green"><i class="fa fa-heart" aria-hidden="true"></i></a>
	            </div>
	        </div>
        </div>
    </div>
    
    <div class="row rowDescription">
        <div class="col-xs-12 col-sm-6">
            <b>Quelques conseils et astuces :</b><br/>
            {{ cuisson.description|raw|nl2br }}
        </div>
        <div class="col-xs-12 col-sm-6">
        	<b>{{ morceau.typeViande|capitalize }}</b><br/>
            <p>{{ cuisson.getConseilsAstuces(morceau.typeViande)|raw|nl2br }}</p>
        </div>
   </div>
   
   <div class="row rowBar">
	    <div class="icon">
	    	<i class="fa fa-pie-chart " aria-hidden="true"></i>
	    </div>
	    <div class="text text-toggle">
	    	<b>Les morceaux à</b>
	    	<span>à {{ cuisson.nom }}</span>
	    </div>
	</div>
	<div class="row rowList">
		{% set i = 0 %}
		{% for morceauRec in morceauxRecommandes %}
		<div class="col-xs-6 morceau col{{ i % 2}}">
            <a class="" href="{{ path_for("flash.categorie",{"categ":morceauRec.typeViande,"id":morceauRec.id}) }}" data-color="#ffffff">
                <div>
                	<img src="{{ morceauRec.photoPath }}" alt="..." />
                </div>
                <div>
                    <h3>{{ morceauRec.nom }}</h3>
                </div>
            </a>
        </div>
        {% set i = i + 1 %}
		{% endfor %}
	</div>
</div>
{% endblock %}
