{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
    <body class="pageblanche page-detail" id="holder">
{% endblock %}


{% block page_content %}
<div class="content-detail">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="IconeMorceau title">Le morceau</h1>
        </div>
    </div>
    <div class="row">
        {{ mapDecoupe(morceau) }}
        <div class="col-xs-12">
            <h3 class="text-center" style="padding:20px 0">{{ morceau.nom }}</h3>
            <p>
                {{ morceau.description|nl2br }}
            </p>
        </div>
        <div class="col-xs-12">
            <h3 class="text-center" style="padding:20px 0">Conseil Achat</h3>
            <p>
                {{ morceau.conseilsAchat|nl2br }}
            </p>
        </div>
        <div class="col-xs-12">
            <h3 class="text-center" style="padding:20px 0">Conseil Conservation</h3>
            <p>
                {{ morceau.conseilsConservation|nl2br }}
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <h3 class="text-center" style="padding:20px 0">Conseil cuisson</h3>
        <p>
            {{ morceau.conseilsCuisson|nl2br }}
        </p>
    </div>
    <div class="row" id="IconeQRcode">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="link IconeRecette" href="{{ path_for("flash.recettes_list",{"categ":morceau.typeViande,"idMorceau":morceau.id}) }}" data-color="#ffffff">
                        Les recettes
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="link IconeCuisson" href="{{ path_for("flash.cuissons_list",{"categ":morceau.typeViande,"idMorceau":morceau.id}) }}" data-color="#ffffff">
                        La cuisson
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if idCss %}
    <script src="/web/js/jquery.maphilight.js"></script>
    <script>
        $(document).ready(function(){
            $("#{{ idCss }}").data({
                "maphilight":{
                    "alwaysOn":true
                }
            });
            $("#imageMap").maphilight({
                "fill":true,
                "fillColor":"5d3043",
                "strokeColor":"5d3043",
                "fillOpacity":"0.60"
            });
            $("#{{ idCss }}").data("maphighlight");
            $("area").click(function(e){
                e.preventDefault();
                var url = "{{ path_for("flash.morceau",{"categ":morceau.typeViande,"idMorceau":"#id#"}) }}";
                var id = $(this).prop("id");
                id = id.replace(/morceau/,"");
                url= url.replace(/#id#/,id);
                document.location.href=url;
            })
        })
    </script>
    {% endif %}
{% endblock %}
