{% extends "base_blanche.html.twig" %}

{% block page_content %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <img class="Photo" src="{{ recette.photoPath }}" alt="..."/>
    </div>

    <div class="col-xs-12">
        <h1>{{ recette.titre }}</h1>
        <p>{{ recette.descriptifIntroduction }}</p>
    </div>
</div>
<div class="row" style="padding:20px 0">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="col-xs-4">
            <span class="sablier">{{ recette.tempsPreparation }}</span>
        </div>
        <div class="col-xs-4">
            <span class="cuisson">{{ recette.tempsCuisson }}</span>
        </div>
        <div class="col-xs-4 difficulte {{ recette.difficulteClass }}"></div>
    </div>
</div>
<div class="row" style="padding:20px 0">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        {% if recette.tempsMarinade %}
            <div class="col-xs-4">
            <span class="marinade">
                Marinade
                {{ recette.tempsMarinade }}
            </span>
            </div>
        {% endif %}
        {% if recette.tempsRepos %}
            <div class="col-xs-4">
                <span class="repos">
                    Repos
                    {{ recette.tempsRepos }}
                </span>
            </div>
        {% endif %}
        {% if recette.tempsTrempage %}
            <div class="col-xs-4">
                <span class="trempage">
                    Trempage
                    {{ recette.tempsTrempage }}
                </span>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h3 style="padding:30px 0">Ingrédients ({{ recette.portion }})</h3>
        <div class="text-left" style="padding-left: 30px">
            <b>Ingrédients :</b>
            <ul>
                {% for ingredient in recette.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            {% if recette.ingredientsSauce is defined and recette.ingredientsSauce|length > 0 %}
                <br/>
                <b>Pour la sauce :</b>
                <ul>
                    {% for ingredient in recette.ingredientsSauce %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if recette.ingredientsAccompagnement is defined and recette.ingredientsAccompagnement|length > 0 %}
                <br/>
                <b>En accompagnement :</b>
                <ul>
                    {% for ingredient in recette.ingredientsAccompagnement %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h3 style="padding:30px 0">Préparation</h3>
        <div class="text-justify">
            <p>
                {{ recette.instructionsPreparation|raw|nl2br }}
            </p>
            {% if recette.instructionDressage is defined %}
                <h3 style="padding:30px 0">Dressage</h3>
                <p>
                    {{ recette.instructionDressage|raw|nl2br }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <button class="btn btn-vert" id="Video" type="submit" style="margin:40px 0 0px">Recette en vidéo</button>
    </div>
</div>
</div>
<div class="container">
    <div class="row" style="padding-top:50px;padding-bottom:20px;">
        <div class="col-xs-12">
            <h3>Les morceaux recommandés</h3>
        </div>
    </div>
    <div class="row">
        {% for morceauRec in morceaux %}
            <div class="row ListeStyle2">
                <div class="col-xs-12">
                    <a class="link"
                       href="{{ path_for("flash.categorie",{"categ":morceauRec.typeViande,"id":morceauRec.id}) }}"
                       data-color="#ffffff">
                        <div class="Tof2"><img src="{{ morceauRec.photoPath }}" alt="..."/></div>
                        <div class="Description" style="padding:40px 20px">
                            <div class="Nom col-xs-12">{{ morceauRec.nom }}</div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
