{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="IconeRecette">Les recettes</h1>
        </div>
    </div>
    {% for recette in recettes %}

    <div class="row ListeStyle2">
        <div class="col-xs-12">
            <a class="link" href="{{ path_for("flash.recettes_detail",{"categ":morceau.typeViande,"idMorceau":morceau.id,"idRecette":recette.id}) }}" data-color="#ffffff">
                <div class="Tof2"><img src="{{ recette.photoPath }}" alt="..."/></div>
                <div class="Description" style="padding:40px 20px;width: 80% !important;">
                    <div class="Nom col-xs-12">{{ recette.titre }}</div>
                    <div class="col-xs-4 sablier">
                        {{recette.tempsPreparation}}
                    </div>
                    <div class="col-xs-4 cuisson">
                        {{ recette.tempsCuisson }}
                    </div>
                    <div class="col-xs-4 difficulte {{recette.difficulteClass}}"></div>
                </div>
            </a>
        </div>
    </div>
    {% else %}
        <div class="row ListeStyle2">
            <div class="col-xs-12">
                <h3>Pas de recettes pour ce morceau</h3>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
