{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="container" style="border-bottom:1px solid #ececec">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <img src="{{ morceau.photoPath }}" alt="{{ morceau.nom }}" class="Photo">
            </div>
            <div class="col-xs-12">
                <h1>{{ morceau.nom }}</h1>
                <p>{{ morceau.description|nl2br }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center"><i class="IconeCuisson"></i>La cuisson</h2>
                <p>Le {{ morceau.nom }} est une viande à
                    {% for cuisson in cuissons %}
                        <a class="link"
                           href="{{ path_for("flash.cuissons_detail",{"categ":morceau.typeViande,"idMorceau":morceau.id,"idCuisson":cuisson.id}) }}"
                           data-color="#ffffff">
                            {{ cuisson.nom }}
                        </a>
                        {% if loop.revindex0 == 1 %}
                            ou à
                        {% else %}
                            ,&nbsp;
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                    {% for cuisson in cuissons %}
                        {% include "Block/cuisson.html.twig" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    {{ morceau.conseilsCuisson }}
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="padding:30px 15px">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center"><i class="IconeRecette"></i>Les recettes</h2>
            </div>
        </div>
        {% for recette in recettes %}
            {% include "Block/recette.html.twig" %}
        {% else %}
            <div class="row ListeStyle2">
                <div class="col-xs-12">
                    <h3>Pas de recettes pour ce morceau</h3>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container" style="padding: 30px 15px">
        <div class="row">
            <div class="col-xs-12">
                {% if idProducteur %}
                <a href="{{ path_for("app.entite.detail",{"id":idProducteur}) }}" data-color="#ffffff">
                    {% endif %}
                    <h2 class="text-center"><i class="IconeProducteur"></i>Le producteur</h2>
                    {% if idProducteur %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container" style="padding: 0px;margin-left: -15px;">
        {% include "Block/decoupe.html.twig" %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% if idCss %}
        <script src="/web/js/jquery.maphilight.js"></script>
        <script>
            $(document).ready(function(){
                $("#{{ idCss }}").data({
                    "maphilight":{
                        "alwaysOn":true
                    }
                });
                $("#imageMap").maphilight({
                    "fill":true,
                    "fillColor":"5d3043",
                    "strokeColor":"5d3043",
                    "fillOpacity":"0.60"
                });
                $("#{{ idCss }}").data("maphighlight");
                $("area").click(function(e){
                    e.preventDefault();
                    var url = "{{ path_for("flash.categorie",{"categ":morceau.typeViande,"id":"#id#"}) }}";
                    var id = $(this).prop("id");
                    id = id.replace(/morceau/,"");
                    url= url.replace(/#id#/,id);
                    document.location.href=url;
                })
            })
        </script>
    {% endif %}
{% endblock %}
