{% extends "base_blanche.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img src="{{ morceau.photoPath }}" alt="{{ morceau.nom }}" class="Photo">
        </div>
        <div class="col-xs-12">
            <h1>{{ morceau.nom }}</h1>
            <p>{{ morceau.description|nl2br }}</p>
        </div>
    </div>
    <div class="row" id="IconeQRcode">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="link IconeRecette" href="{{ path_for("flash.recettes_list",{"categ":morceau.typeViande,"idMorceau":morceau.id}) }}" data-color="#ffffff">
                        Les recettes
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="link IconeProducteur" href="producteur.php" data-color="#ffffff">
                        Le producteur
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a class="link IconeCuisson" href="{{ path_for("flash.cuissons_list",{"categ":morceau.typeViande,"idMorceau":morceau.id}) }}" data-color="#ffffff">
                        La cuisson
                    </a>
                </div>
                <div class="col-xs-6 text-center">
                    <a class="link IconeMorceau" href="{{ path_for("flash.morceau",{"categ":morceau.typeViande,"idMorceau":morceau.id}) }}" data-color="#ffffff">
                        Le morceau
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
