<ul id="navs">
    <li class="nav1"><a class="fa fa-heart" href="#favoris"></a></li>
    <li class="nav2"><a class="fa fa-comments" href="{{ path_for("app.billets.list") }}"></a></li>
    <li class="nav3"><a class="fa fa-search" href="#recherche"></a></li>
    <li class="nav4"><a class="fa fa-shopping-cart" href="{{ path_for("app.commande.show_cart") }}"></a></li>
    <li class="nav5"><a class="fa fa-user" href="#compte"></a></li>
</ul>

<nav class="favoris" id="favoris">
    <ul>
        <li><h2>Favoris</h2></li>

        {% for favoris in getFavorites() %}
            <li>
                <a class="link" href="{{ path_for("app.entite.detail",{"id":favoris.id}) }}" data-color="#381b26">
                    <div class="Tof"><img src="{{ apiImagePath(favoris.logo) }}" alt="..." /></div>
                    <div class="Description">
                        <p class="Nom" style="color:#fff !important;">{{ favoris.name }}</p>
                        <p class="Fonction">{{favoris.activite}}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

{% if isLogged %}
<div id="menu-compte" class="sub-menu">
	<div class="list_header">
		<a href="#" id="back-menu-compte"><i class="fa fa-chevron-left" aria-hidden="true"></i> Mon compte</a>
	</div>
    <ul class="liste_menu">
        <li>
        <a class="link" href="{{ path_for("app.commande.recup") }}">
        	8 produits a récupérer<br/>
        	<span>chez 4 professionnels</span>
        </a>
        </li>
        <li>
        <a class="link" href="{{ path_for("app.commande.list") }}">
        	Mes Commandes<br/>
        	<span>3 commandes</span>
        </a>
        </li>
        <li><a class="link" href="{{ path_for("app.user.profile", {"idUser":"me"}) }}">Mon profil</a></li>
        <li><a class="link" href="{{ path_for("app.profile") }}">Mes informations</a></li>
        <li><a class="link" href="{{ path_for("app.user.friends") }}">Mes amis</a></li>
        <li><a class="link" href="{{ path_for("app.logout") }}">Se déconnecter</a></li>
    </ul>
</div>
{% endif %}