<ul id="navs">
    <li class="nav1"><a class="fa fa-heart" href="#favoris"></a></li>
    <li class="nav2"><a class="fa fa-newspaper-o" href="autour.php"></a></li>
    <li class="nav3"><a class="fa fa-search" href="#" data-color="#ffffff"></a></li>
    <li class="nav4"><a class="fa fa-shopping-cart" href="{{ path_for("app.commande.list") }}" data-color="#ffffff"></a></li>
    <li class="nav5"><a class="fa fa-user" href="{{ path_for("app.profile") }}" data-color="#ffffff"></a></li>
</ul>

<nav id="menu">
    <ul>
        <li><h2>Menu</h2></li>
        <li>
            <a class="link" href="carte.php" data-color="#fff">
                <span class="Chiffre">01</span>
                <p>Bouchers</p>
            </a>
        </li>
        <li>
            <a class="link" href="carte2.php" data-color="#fff">
                <span class="Chiffre">02</span>
                <p>Mes restaurants</p></a>
        </li>
    </ul>
</nav>

<nav class="favoris" id="favoris">
    <ul>
        <li><h2>Favoris</h2></li>

        {% for favoris in getFavorites() %}
            <li>
                <a class="link" href="{{ path_for("app.entite.detail",{"id":favoris.id}) }}" data-color="#381b26">
                    <div class="Tof"><img src="{{ apiImagePath(favoris.logo) }}" alt="..." /></div>
                    <div class="Description">
                        <p class="Nom" style="color:#fff !important;">{{ favoris.name }}</p>
                        <p class="Fonction">{{favoris.activite}}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

<nav id="amis">
    <ul>
        <li><h2>Amis</h2></li>
        <li>
            <a class="link" href="ami.php" data-color="#381b26">
                <div class="Tof"><img src="/web/images/perso1.png" alt="..." /></div>
                <div class="Description">
                    <p class="Nom" style="color:#fff !important;">Jean Bidule</p>
                </div>
            </a>
        </li>
    </ul>
    <button class="btn btn-vert" id="Ajouter">Ajouter un ami</button>
</nav>

{% if isLogged %}
<nav id="mon-compte">
    <ul>
        <li><h2>Mon Compte</h2></li>
        <li><a class="link" href="{{ path_for("app.commande.list") }}" data-color="#381b26">Mes Commandes</a></li>
        <li><a class="link" href="{{ path_for("app.profile") }}" data-color="#381b26">Mon profil</a></li>
        <li><a class="link" href="{{ path_for("app.logout") }}" data-color="#381b26">Se déconnecter</a></li>
    </ul>
</nav>
{% endif %}