{% extends "base_blanche.html.twig" %}

{% block bodyOpenTag %}
<body class="pageblanche page-detail" id="holder">
{% endblock %}

{% block prev %}
{% endblock %}
{% block close %}
{% endblock %}

{% block page_content %}
    <div class="content-detail">
        <div class="row rowList">
        	<div class="list_header">
       			<a href="{{ path_for("app.commande.list") }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;Commande {{commande.numeroCommande}}</a>
       		</div>
       		<div class="list_container">
		   		<div class="cart_date">
	       			{{ (commande.dateCommande/1000)|round(0)|date("d F Y") }}
	       		</div>
		   		<div class="row rowTotal">
			        <div class="col-xs-12">
			        	<b>Total</b>
			        	<span class="qty">Qte : {{commande.quantiteTotal}}</span>
			        	<span class="price">{{ commande.total }} €</span>
			        </div>
			    </div>    
			    <div class="cart_items">
			   		{% for entite in entites %}
			   		{% include "Commande/panier_entite.html.twig" with {'entiteInfos' : entite} %}
				    {% else %}
				        <h3 class="text-center">Pas de produits dans la commande</h3>
				    {% endfor %}
				</div>
			</div>
	    </div>
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}