{% extends "base_blanche.html.twig" %}

{% block prev %}
    <div id="return"><a href="javascript:history.back()">&lt;</a></div>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Paiement</h1>
        </div>
    </div>

    <div class="row ListeStyle2">
        <div class="col-xs-4">
            <a href="{{ path_for("app.commande.show_cart") }}" class="IconPanier">Panier</a>
        </div>
        <div class="col-xs-4">
            <a href="{{ path_for("app.commande.select_livraison") }}" class="IconRecup">Livraison</a>
        </div>
        <div class="col-xs-4">
            <a href="{{ path_for("app.commande.select_paiement") }}" class="IconPaiementSelect">Paiement</a>
        </div>
    </div>

    {% for ligne in panier.lignes %}
        {% set produit = ligne.produit %}
        <div class="row ListeStyle2">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-3">
                        <div class="Tof"><img src="{{ apiImagePath(produit.photo) }}" alt="..." /></div>
                    </div>
                    <div class="col-sm-5 col-xs-9">
                        <div class="Description" style="width:auto;">
                            <p class="Nom">{{ produit.nom }}</p>
                            <p class="Desc">{{ produit.accroche }}</p>
                        </div>
                    </div>
                    <div class="col-sm-1 col-xs-3">
                        <p class="Qte">x {{ ligne.qte }}</p>
                    </div>
                    <div class="col-sm-4 col-xs-9 text-right">
                        <p class="Prix">{{ ligne.prix }} €</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>Pas de produits au panier</h3>
    {% endfor %}



    <div class="row">
        <div class="col-xs-12">
            <p class="Prix text-right">Total {{ panier|total }} &euro;</p>
        </div>
    </div>

    <form method="post" action="{{ path_for("app.commande.save_commande") }}">
        {% if panier.paiement == "carte" %}
            {% include "Block/paiement_carte.html.twig" %}
        {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-vert" id="Rechercher" type="submit" style="margin:30px 0">Payer ma commande</button>
            </div>
        </div>
    </form>
{% endblock %}
