{% extends "base_entite.html.twig" %}

{% block page_content %}
    {% set action = "add" %}
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
            <img class="Photo" src="{{ apiImagePath(entite.logo) }}" alt="..." style="background: white;"/>
        </div>
        <div class="col-xs-6">
            <h1>{{ entite.name }}</h1>
            <p style="text-align:center;">
                {{ entite.adresseComplete }}
            </p>
        </div>
    </div>
    <div class="row IconAction">
        <div class="col-xs-8 col-xs-offset-2">
            <ul class="row">
                <li class="col-xs-3"><a class="IconItineraire" href="#"></a></li>
                <li class="col-xs-3"><a class="IconAppeler" href="#"></a></li>
                <li class="col-xs-3"><a class="IconFavoris {% if isFavorite(entite.id) %}{% set action = "delete" %}select{% endif %}" href="{{ path_for("app.change.favorite",{"idEntite":entite.id,"action":action}) }}"></a></li>
                <li class="col-xs-3"><a class="IconReseau" href="reseau.php"></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="Description">
            <p>
                {{ entite.description|raw }}
            </p>
        </div>
    </div>

    {% block certifs %}
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 Recommande">
                <div class="row">
                    {% for certif in certifs %}
                        <div class="col-xs-3">
                            <div class="Tof">
                                {% if certif.entiteId %}
                                    {% set link=path_for("app.entite.detail",{"id":certif.entiteId}) %}
                                {% else %}
                                    {% set link="#" %}
                                {% endif %}
                                <a class="link" href="{{ link }}" data-color="#381b26">
                                    <img src="{{ apiImagePath(certif.logo) }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block menu %}
        {% if entite.hasVenteDirecte %}
            <div class="row" style="padding:20px 0">
                <div class="col-xs-6 col-xs-offset-3">
                    <a style="padding-top: 12px" class="btn btn-vert" id="Reserver" type="submit"
                       href="{{ path_for("app.entite.produits",{"id":entite.id}) }}">
                        Vente Directe
                    </a>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block blog %}
        {% if blog|length >0 %}
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center" style="padding:30px 0">Le blog</h3>
                </div>
                {% for billet in blog %}
                    <div class="col-xs-10 col-xs-offset-1 ListeStyle3">
                        <div class="post">
                            <p class="titre">{{ billet.titre }}</p>
                            <p class="date">{{ (billet.publication/1000)|round(0)|date("d/m/Y H:i") }}</p>
                            <p class="texte">{{ billet.contenu|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block presse %}
        {% if presse|length >0 %}
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center" style="padding:30px 0">La presse</h3></div>
                {% for billet in presse %}
                    <div class="col-xs-10 col-xs-offset-1 ListeStyle3">
                        <div class="post">
                            <p class="titre">{{ billet.titre }}</p>
                            <p class="date">{{ (billet.publication/1000)|round(0)|date("d/m/Y H:i") }}</p>
                            <p class="texte">{{ billet.contenu|raw }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% endif %}
            {% endblock %}


            {% endblock %}