{% extends "base_entite.html.twig" %}

{% block page_content %}
    {% set action = "add" %}
    <div class="row">
        <div class="col-xs-4">
            <img class="Photo" src="{{ apiImagePath(entite.logo) }}" alt="..." style="background: white;"/>
        </div>
        <div class="col-xs-8">
            <h1>{{ entite.name }}</h1>
            <p style="text-align:center;">
                <a style="color: #ffffff"
                   href="{{ path_for("map.homepage") }}?center={{ entite.lat }},{{ entite.lng }}">{{ entite.adresseComplete }}</a>
            </p>
            <p class="text-center">
                <a href="#certifs">{{ certifs|length }} labels de qualité</a>
            </p>
            {% block lien_fournisseurs %}
            {% endblock %}
        </div>
    </div>
    <div class="row IconAction">
        <div class="col-xs-12">
            <ul>
                <li class="col-xs-2" style="padding: 0px">
                    <a class="" href="#">
                        <img src="/web/images/telephone.png" alt="" class="img-responsive">
                    </a>
                </li>
                <li class="col-xs-2" style="padding: 0px">
                    {% set imgSrc = "/web/images/favoris1.png" %}
                    {% if isFavorite(entite.id) %}
                        {% set action = "delete" %}
                        {% set imgSrc = "/web/images/favoris1_select.png" %}
                    {% endif %}
                    <a href="{{ path_for("app.change.favorite",{"idEntite":entite.id,"action":action}) }}">
                        <img src="{{ imgSrc }}" alt="" class="img-responsive">
                    </a>
                </li>
            </ul>
            {% if entite.hasVenteDirecte %}
                {% block venteDirecte %}
                    <div class="col-xs-8">
                        <a style="padding-top: 12px" class="btn btn-vert" id="Reserver" type="submit"
                           href="{{ path_for("app.entite.produits",{"id":entite.id}) }}">
                            Vente Directe
                        </a>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="Description">
            <p>
                {{ entite.description|raw }}
            </p>
        </div>
    </div>

    {% block menu %}{% endblock %}

    {% block certifs %}
        {% if certifs|length >0 %}
            <div id="certifs" class="row">
                <div class="col-xs-12">
                    <div class="row Entete">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
                            <img src="/web/images/qualite.svg" alt="" class="img-responsive" style="max-width: 20%;display: inline-block;margin-bottom: 8px;">
                            <h3 class="text-center" style="display: inline-block">Labels qualité</h3>
                        </div>
                    </div>
                    <div class="row Recommande">
                        {% for certif in certifs %}
                            {% if certif.entiteId %}
                                {% set link=path_for("app.entite.detail",{"id":certif.entiteId}) %}
                            {% else %}
                                {% set link="" %}
                            {% endif %}
                            <a class="link" href="{{ link }}" data-color="#381b26">
                                <div class="ListeStyle2 row" style="padding-bottom: 10px;margin-top: 10px;">
                                    <div class="col-sm-1"></div>
                                    <div class="col-xs-3 col-sm-1">
                                        <img src="{{ apiImagePath(certif.logo) }}" class="img-circle img-responsive">
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-9 col-sm-9">
                                        <p class="Prix text-left" style="color: #ffffff">{{ certif.nom }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block membres %}
        {% if entite.activite == "FILIERE" and membres|length>0 %}
            <div class="row">
                <div class="col-xs-12">
                    <h3 style="text-align:center;padding:20px 0">Ils en font partie</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div id="map" style="height: 500px;margin-top: 0px;background: #FFF;"></div>
                </div>
                <div class="col-xs-12 col-sm-6">

                    {% set titles = {
                    "BOUCHER":"Bouchers",
                    "RESTAURANT":"Restaurants",
                    "RESTAURATION_COLLECTIVE":"Restauration collective",
                    "ELEVEUR":"Eleveurs",
                    "ABATTOIR":"Abattoirs",
                    "GROSSISTE": "Grossistes",
                    "NEGOCIANT":"Négociants",
                    "ASSOCIATION":"Associations",
                    "DISTRIBUTEUR":"Distributeurs"
                    } %}

                    {% for activite,title in titles %}
                        {% include "Block/membres.html.twig" %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block blog %}
        {% if blog|length >0 %}
            <div class="row Entete">
                <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 text-center">
                    <img src="/web/images/blog.svg" alt="" class="img-responsive" style="max-width: 20%;display: inline-block;margin-bottom: 13px;">
                    <h3 class="text-center" style="display: inline-block">Le blog</h3>
                </div>
            </div>
            <div class="row">
                {% for billet in blog %}
                    <div class="col-xs-10 col-xs-offset-1 ListeStyle3">
                        <div class="post">
                            <p class="date">Publié le {{ (billet.publication/1000)|round(0)|date("d/m/Y H:i") }}</p>
                            {% if billet.type == "evenement" %}
                                <p class="titre">{{ billet.titre }}</p>
                                <p class="date">Du {{ (billet.debut/1000)|round(0)|date("d/m/Y H:i") }} au {{ (billet.fin/1000)|round(0)|date("d/m/Y H:i") }}</p>
                            {% endif %}
                            <p class="texte">{{ billet.contenu|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block presse %}
        {% if presse|length >0 %}
            <div class="row Entete">
                <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 text-center">
                    <img src="/web/images/news.svg" alt="" class="img-responsive" style="max-width: 20%;display: inline-block;">
                    <h3 class="text-center" style="display: inline-block">La presse</h3>
                </div>
            </div>
            <div class="row">
                {% for billet in presse %}
                    <div class="col-xs-10 col-xs-offset-1 ListeStyle3">
                        <div class="post">
                            <!--<p class="titre">{{ billet.titre }}</p>-->
                            <p class="date">{{ (billet.publication/1000)|round(0)|date("d/m/Y H:i") }}</p>
                            <p class="texte">{{ billet.contenu|raw }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block afterMapInit %}
    var bounds = new google.maps.LatLngBounds();
    {% for entite in membres %}
        {{ createMarker(entite) }}
        bounds.extend(marker{{ entite.id }}.getPosition())
    {% endfor %}
    map.fitBounds(bounds);
{% endblock %}