{% extends "base_blanche.html.twig" %}

{% block prev %}
    <div id="return"><a href="javascript:history.back()">&lt;</a></div>
{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Liste des produits</h1>
        </div>
    </div>

    {% for produit in produits %}
        <div class="row ListeStyle">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-2 col-xs-4">
                        <div class="Tof">
                            <img src="{{ apiImagePath(produit.photo) }}" alt="..."/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="Description" style="width:auto;">
                            <p class="Nom">{{ produit.nom }}</p>
                            <p class"Desc">{{ produit.accroche }}</p>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3 col-xs-offset-4 col-sm-offset-0">
                        <p class="Prix text-right">{{ produit.prix }} &euro;</p>
                    </div>
                    <div class="col-sm-2 col-xs-5">
                        <a class="btn btn-blanc {{ isInCart(produit,panier) }}" href="{{ path_for("app.entite.add_to_cart",{"idEntite":entiteId,"idProduit":produit.id}) }}"></a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>Pas de produits en stock</h3>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
                <a class="btn btn-vert" id="Rechercher" type="button" style="margin:30px 0;line-height: 38px;" href="{{ path_for("app.commande.show_cart") }}">Afficher mon panier</a>
        </div>
    </div>
{% endblock %}
