<div class="row item">
    <a class="link"
       href="{{ path_for("flash.recettes_detail",{"categ":morceau.typeViande,"idMorceau":morceau.id,"idRecette":recette.id}) }}"
       data-color="#ffffff">
        <div class="col-xs-12 col-sm-3 photo">
            <img src="{{ recette.photoPath }}" alt="..." class="img-responsive"/>
        </div>
        <div class="col-xs-12 col-sm-9 RecetteLine">
            <div class="Nom col-xs-12">{{ recette.titre }}</div>
            <div class="col-xs-6 col-sm-4 iconIndicateur sablier">
                {{ recette.tempsPreparation }}
            </div>
            <div class="col-xs-6 col-sm-4 iconIndicateur cuisson">
                {{ recette.tempsCuisson }}
            </div>
            <div class="col-xs-12 col-sm-4 iconIndicateur difficulte {{ recette.difficulteClass }}">
               &nbsp;
            </div>
        </div>
    </a>
</div>